.App{
  display: flex;
  flex-wrap: wrap;
  

}

.student{
  margin: 5px;
  padding: 5px;
  background-color:aqua;
  border: 1px solid red;
  border-radius: 5px;
  width: 500px;
  text-align: center;
}

.count{
  width: 400px;
  border:1px solid blue;
  text-align: center;
  padding: 10px;
  border-radius:10px;
  margin: 0 auto 10px;
  
}

.inp{
  width: 400px;
  border:1px solid green;
  padding: 10px;
  border-radius:10px;
  margin: 0 auto 10px;
}
