.App{
  display: flex;
  flex-wrap: wrap;
  

}

.student{
  margin: 5px;
  padding: 5px;
  background-color:aqua;
  border: 1px solid red;
  border-radius: 5px;
  width: 500px;
  text-align: center;
}

